/*---Desktops---*/
@media only screen and (max-width: 1200px) {
  main {
    height: 70vh;
    padding-top: 5rem;
  }
  .header__number {
    width: 18rem;
    padding: 2rem 1rem;
  }
}

/*---Tablets---*/
@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  main {
    height: 50vh;
  }
  .header__image {
    width: 210px;
    height: 250px;
  }
  .header__title {
    font-size: 3rem;
  }
  .header__number {
    width: 15rem;
    padding: 1rem 1rem;
  }
  .status__message {
    margin-bottom: 3rem;
  }
  .check__guess {
    width: 20rem;
  }
}

@media only screen and (max-width: 370px) {
  main {
    padding-top: 10rem;
  }
  .header__information-section {
    justify-content: center;
  }
  .header__help {
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .header__info {
    line-height: 150%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 15px;
  }
  .header__title {
    padding: 10px 20px 0px 21px;
    letter-spacing: 3px;
    line-height: 100%;
  }
}
